body {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#canvas {
    border: 1px solid white;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#score {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;;
    font-size: 10px;
    margin-top: 20px;
}

.snek {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid #1f1f1f;
}

.food {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: 1f1f1f;
    border: 1px solid rgb(182, 182, 182);
}

.con1 {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

#restartbtn {
    font-family: 'Press Start 2P', cursive;
    color: #1f1f1f;
    border: none;
    background-color: white;
    height: 40px;
    padding: 15px 20px;
    margin-top: 20px;
    visibility: hidden;
}

.control {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downsec {
    display: flex;
    justify-content: center;
}

.ctrlbtn {
    width: 40px;
    height: 40px;
    color: #1f1f1f;
    background-color: white;
    border: none;
    margin: 2px;
    border-radius: 2px;
}


@media (max-width: 800px) {
    .control {
        visibility: visible;
    }

    .con {
        visibility: hidden;
    }
}
